<html>
    <head>
        <meta charset="UTF-8"/>
        <title>ViChan</title>
        <link rel="stylesheet" type="text/css" href="index.css"  />
    </head>

    <!-- THE BODY -->
    <body>
        <div class="header">
            <img class="header_board_img" v-bind:src="header_img_src" href="#"/>

            <h1>
                {{ header_board_name }}
            </h1>

            <hr width="75%">

            <div>
                <div class="button_text" v-on:click="showNewThreadOptions" v-if="!isNewThreadButtonClicked">
                    <h3>[<a href="#" class="button_text_content">{{ header_start_thread_text }}</a>]</h3>
                </div>
                <div class="button_text" v-else>
                    <div class="new-thread-options-line">
                        <p>{{ new_thread_options_name_title }}</p>
                        <input id="name_input" required v-bind:placeholder="new_thread_options_name_input_placeholder" v-model="new_thread_name_input_value"/>
                    </div>
                    <div class="new-thread-options-line">
                        <p>{{ new_thread_options_subject_title }}</p>
                        <input id="title_input" required v-model="new_thread_title_input_value"/>
                    </div>
                    <div class="new-thread-options-line">
                        <p>{{ new_thread_options_content_title }}</p>
                        <input id="content_input" required v-model="new_thread_content_input_value"/>
                    </div>
                    <button v-on:click="postNewThread">{{ new_thread_options_post_button_text }}</button>
                </div>
            </div>


            <hr width="50%">

            <a href="#"><img class="header_ad_img" v-bind:src="header_ad_img_src" /></a>
        </div>

        <hr>

        <div class="utilities">
            <input v-bind:placeholder="search_box_placeholder_text" />

            <div class="button_text">
                <h3>[<a href="#" class="button_text_content">{{ catalog_button_text }}</a>]</h3>
            </div>

            <div class="button_text">
                <h3>[<a href="#" class="button_text_content">{{ archive_button_text }}</a>]</h3>
            </div>

        </div>

        <hr>

        <div class="content">
            <ul>
                <thread v-for="thread in threadList" v-bind:title="thread.title" v-bind:username="thread.username" v-bind:content="thread.content" v-bind:key="thread.id"></thread>
            </ul>
        </div>

        <div class="footer">

        </div>
    </body>

    <!-- Vue  -->
    <script src="https://unpkg.com/vue@next"></script>

    <script src="./index.js"></script>
</html>
