<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

        <title>ViChan</title>

        <link rel="stylesheet" type="text/css" href="/src/index.css"  />
        <link rel="shortcut icon" href="/images/favicon-ws.ico" />
    </head>

    <body>
        <div class="header">
            <!-- A random 4chan image -->
            <img class="header_board_img" v-bind:src="header_img_src" href="#"/>

            <!-- The board's name -->
            <h1>{{ header_board_name }}</h1>

            <hr width="75%">

            <!-- Area to create new threads -->
            <div id="new-thread-area">
                <div class="button-text" v-on:click="showNewThreadOptions" v-if="!isNewThreadButtonClicked">
                    <h3>[<a href="#" class="button-text-content">{{ header_start_thread_text }}</a>]</h3>
                </div>
                <div id="new-thread-options" v-else>
                    <div class="new-thread-options-name-container">
                        <p>{{ new_thread_options_name_title }}</p>
                        <input id="name_input" required v-bind:placeholder="new_thread_options_name_input_placeholder" v-model="new_thread_name_input_value"/>
                    </div>

                    <div class="new-thread-options-subject-container">
                        <p>{{ new_thread_options_subject_title }}</p>
                        <div>
                          <input id="title_input" required v-model="new_thread_title_input_value"/>
                          <button id="newThreadButton" v-on:click="postNewThread">{{ new_thread_options_post_button_text }}</button>
                        </div>
                    </div>

                    <div class="new-thread-options-content-container">
                        <p>{{ new_thread_options_content_title }}</p>
                        <textarea id="content_input" required rows="10" cols="30" v-model="new_thread_content_input_value"></textarea>
                    </div>

                    <!-- The filepicker -->
                    <input type="file" id="new-thread-options-filepicker" v-on:change="storeFilepickerValue" accept="image/*" />
                    <button v-on:click="showNewThreadOptions">{{ new_thread_options_close_button_text }}</button>
                </div>
            </div>

            <hr width="50%">

            <!-- Ad image for other boards -->
            <a href="#"><img class="header_ad_img" v-bind:src="header_ad_img_src" /></a>
        </div>

        <hr>

        <div class="utilities">
            <!-- Search box -->
            <input v-bind:placeholder="search_box_placeholder_text" />

            <!-- Catalog  -->
            <div class="button-text">
                <h3>[<a href="#" class="button-text-content">{{ catalog_button_text }}</a>]</h3>
            </div>

            <!-- Archive -->
            <!-- <div class="button-text">
                 <h3>[<a href="#" class="button-text-content">{{ archive_button_text }}</a>]</h3>
                 </div> -->
        </div>

        <hr>

        <!-- Threads -->
        <div class="content">
            <thread v-for="thread in threadList" v-bind:title="thread.title"
                    v-bind:username="thread.username" v-bind:content="thread.content"
                    v-bind:img_src="thread.img_src" v-bind:date="thread.date"
                    v-bind:img_filename="thread.img_filename"
                    v-bind:key="thread.id"></thread>
        </div>

        <div class="footer">
            <!-- Page navigation -->
            <div class="page-buttons">
                <button >Previous</button>
                <page-button v-for="page in pageList" v-bind:link="page.link" v-bind:count="page.count" v-bind:key="page.count"></page-button>
                <button >Next</button>
            </div>
        </div>
    </body>

    <!-- Vue  -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./index.js" type="module"></script>
</html>
